<section class="hero is-section-color is-large is-bold barba-container front">
  <div class="hero-head">
    <app-header></app-header>
  </div>
  <div class="hero-body" style="margin: auto;">
    <div class="container front-intro loaded">
      <p class="title">
        Hi! I’m Supakit,<br>
        a <u>Front-end Developer</u>
      </p>
      <span class="subtitle">
        Javascript is my passion.
      </span>
    </div>
    <div class="alpha-zio">
      <div class="alpha-zio__inner">
        <span></span>
      </div>
    </div>
  </div>
  <!--
  <div class="stage">
    <figure class="ball">
      <span class="shadow"></span>
      <span class="iris"></span>
    </figure>
  </div>
  -->

</section>
