// Font //
h1 , u , p , span {
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-shadow: 0 4px 4px rgba(0,0,0,.22);
  color: #fff;
}

u {
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.front-intro.loaded u::after {
  width: 100%;
}

u::after {
  content: '';
  display: block;
  height: 50%;
  width: 0;
  background: rgba(216,216,216,.3);
  position: absolute;
  z-index: -1;
  -webkit-transition: all .7s cubic-bezier(.23,1,.32,1) 0s;
  -o-transition: all .7s cubic-bezier(.23,1,.32,1) 0s;
  transition: all .7s cubic-bezier(.23,1,.32,1) 0s;
}

u:after {
  bottom: -3px;
  left: 0;
  content: "";
}

.front-intro {
  p {
    font-size: 4em;
    line-height: 1.15em;
  }
  span {
    display: block;
    text-align: right;
    font-weight: 400;
  }
}

/*
.hero.hero.is-section-color {
  background-image: linear-gradient(60deg,white , lightsteelblue, white);
  /*background-image: linear-gradient(164deg,#97c74e , #ffdd57, #7952b3);
}
*/

.barba-container {
  -webkit-transition: background-color .5s ease 0s;
  -o-transition: background-color .5s ease 0s;
  transition: background-color .5s ease 0s;
}

.barba-container {
  background-image: url('/assets/img/photo03.jpeg');
  background-size: cover;
  animation: fadein 2s;
  background-position: center bottom;
}

::selection {
  color: #393939;
  background: #fff;
}

// background .alpha-zio //
.front .alpha-zio {
  width: 45vw;
  height: 45vh;
  left: 15%;
  top: 30vh;
  -webkit-perspective: 35vw;
  perspective: 35vw;
}

.alpha-zio {
  position: absolute;
  z-index: 1;
}

.alpha-zio__inner {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.1);
}

.alpha-zio span {
  display: block;
  width: 100%;
  height: 100%;
  // background: rgba(233,70,49,.65);
}


/* EYE Animation */

@keyframes move-eye-skew {
  0% {
    transform: none;
  }
  20% {
    transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg) scale(0.95);
  }
  25%, 44% {
    transform: none;
  }
  50%, 60% {
    transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg) scaleX(0.95);
  }
  66%, 100% {
    transform: none;
  }
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
}
.ball:after {
  content: "";
  position: absolute;
  /*top: 5%;
  left: 10%;*/
  top: 18%;
  left: 18%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  transform: translateX(-80px) translateY(-90px) skewX(-20deg);
}

.iris {
  width: 40%;
  height: 40%;
  margin: 30%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, #208ab4 0%, #6fbfff 30%, #4381b2 100%);
  transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  position: absolute;
  animation: move-eye-skew 5s ease-out infinite;
}
.iris:before {
  content: "";
  display: block;
  position: absolute;
  width: 37.5%;
  height: 37.5%;
  border-radius: 50%;
  top: 31.25%;
  left: 31.25%;
  background: black;
}
.iris:after {
  content: "";
  display: block;
  position: absolute;
  width: 31.25%;
  height: 31.25%;
  border-radius: 50%;
  top: 18.75%;
  left: 18.75%;
  background: rgba(255, 255, 255, 0.2);
}

.ball .shadow {
position: absolute;
width: 100%;
height: 100%;
background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}
.stage {
  /*width: 300px;
  height: 300px;*/
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 15px 10px;
  perspective: 1200px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateY(0.01deg);
  position: absolute;
  align-self: center;
  animation: fadein 4s;
}
body {
  width: 300px;
  margin: 20px auto;
  background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
  background-repeat: no-repeat;
}


/* fade in */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

